<%- include('../partials/header') %>
<form action="/skills" method="POST">
    <input type="text" name="skill">
    <button type="submit">Submit Skill</button>
</form>

<%- include('../partials/footer') %>